<table class="table">
    <thead class="table-dark">
        <tr>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Abv / IBU</th>
            <th>stock</th>
            <th>Precio</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>New England Ipa</td>
            <td>Rubia</td>
            <td></td>
            <td>$600</td>
            <td>40</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>