
<table class="table text-center table-hover">

    <thead class="table-dark">
        <tr>
            <th></th>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Abv</th>
            <th>IBU</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Cantidad</th>
            <th>Compras</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let beer of beers">
            <td><img class="imgList img-thumbnail" [src]="beer.image" [alt]="beer.name"  [ngClass]="{'clearance': beer.clearance}"></td>
            <td>{{beer.name}}</td>
            <td>{{beer.type}}</td>
            <td>{{beer.abv}}</td>
            <td>{{beer.ibu}}</td>
            <td>{{beer.price | currency}}</td>
            <td><span *ngIf="beer.stock==0" class="badge text-bg-danger">Sin Stock</span></td>
            <td><app-input-integer [(quantity)]="beer.quantity" [max]="beer.stock" *ngIf="beer.stock" (maxReached)="maxReached($event)"></app-input-integer></td>
            <td><button class="btn btn-outline-primary" (click)="addToCart(beer)">Agregar</button></td>
        </tr>
    </tbody>
</table>
    <div>
        Las cervezas con logo verde solo por hoy, tienen {{descuento}}% descuento
    </div>