<h3>Carrito de compras</h3>
<table class="table text-center table-hover">
    <thead class="table-dark">
        <tr>
            <th></th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Cantidad</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let beer of (cartList$ | async)">
            <td><img class="imgList img-thumbnail" [src]="beer.image" [alt]="beer.name"  [ngClass]="{'clearance': beer.clearance}"></td>
            <td>{{beer.name}}</td>
            <td>{{beer.price | currency}}</td>
            <td>{{beer.quantity}}</td>
        </tr>
    </tbody>
</table>
<h6>TOTAL: {{total() | currency}}</h6>