<h3 class="text-center">Carrito de compras</h3>
<table class="table text-center table-hover">
    <thead class="table-dark">
        <tr>
            <th></th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Cantidad</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let beer of (cartList$ | async)">
            <td><img class="imgList img-thumbnail" [src]="beer.image" [alt]="beer.name"  [ngClass]="{'clearance': beer.clearance}"></td>
            <td>{{beer.name}}</td>
            <td>{{beer.price | currency}}</td>
            <td>{{beer.quantity}}</td>
        </tr>
    </tbody>
</table>
<h6>TOTAL: {{total() | currency}}</h6>
<div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <button class="btn btn-outline-primary btn-sm" (click)="clearCart()">Vaciar Carrito</button>
    <button class="btn btn-outline-primary btn-sm me-md-2">Comprar</button>
</div>